---

---

<div class="px-6 w-full">
  <pre
    class="relative flex flex-col whitespace-pre overflow-auto p-4 rounded-lg w-full astro-code astro-code-themes github-light bg-zinc-200">
    <slot />
  </pre>
</div>
